@import "@/assets/css/varibles.scss";

.header {
  background-color: $brown;
  position: fixed;
  width: 100vw;
  padding: 10px;
  z-index: 2;
  .header__container {
    .dekstop__navbar {
      display: flex;
      justify-content: center;
      ul {
        display: flex;
        align-items: center;
        gap: 0 20px;
      }
    }

    .basket {
      position: relative;
    }

    .countFavoriteProducts {
      background: $red;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 100%;
    }

    .mobile__navbar {
      display: none;
      .button {
        background: transparent;
        position: relative;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-self: center;
        align-items: center;
        width: 35px;
        height: 35px;
        transition: all 300ms ease;

        &__line {
          background: $graphit;
          width: 100%;
          height: 4.5px;
          border-radius: 8px;
          transition: all 300ms ease;
        }

        &_active {
          display: grid;
          span {
            position: absolute;
            &:first-child {
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              display: none;
            }
            &:last-child {
              transform: rotate(-45deg);
            }
          }
        }
      }

      ul {
        background: bisque;
        display: none;
        align-items: center;
        flex-direction: column;
        gap: 20px 0;
        padding: 20px 0;
      }
    }

    ul {
      li a {
        color: $white;
      }
    }

    @media (max-width: 767px) {
      .mobile__navbar {
        display: flex;
        flex-direction: column;
      }
      .dekstop__navbar {
        display: none;
      }
    }
  }
}

.hidden {
  display: none;
}

.visiblity {
  background: $white;
  display: flex !important;
  height: 100vh;
}
