@import "@/assets/css/varibles.scss";

.Interior {
  background-image: url("@/assets/images/unsplash_dPUWzT5dqz8.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 0;
  width: 100vw;
  height: 100vh;

  &__container {
  }

  &__text {
    text-align: center;
    h1 {
      color: $white;
      font-size: 3em;
      font-weight: 700;
    }
    p {
      color: $white;
      margin: 20px 0;
      font-weight: 400;
    }
  }
}

.Advantages {
  margin: 30px 0;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 15px 0;
  }
  &__item {
    display: flex;
    color: $graphit;
    align-items: center;
    gap: 0 15px;
    .Advantage__name {
      font-weight: 600;
    }
  }
}

.Products {
  &__text {
    margin: 20px 0;
    a {
      display: flex;
      color: $graphit;
      gap: 0 10px;
      &::after {
        content: url("@/assets/images/arrow.png");
      }
    }
  }
}

.Reference {
  margin: 50px 0;
  &__text {
    margin: 20px;
    text-align: center;
  }

  &__refs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    a {
      position: relative;

      & p {
        font-size: 64px;
        font-weight: 600;
        color: $white;
        width: auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .big {
      max-width: 700px;
      height: 615px;
    }

    .medium {
      max-width: 430.11px;
      height: 645.17px;
    }

    @media (max-width: 940px) {
      .big,
      .medium {
        width: 100%;
      }
    }
  }
}

.Visit {
  background: $graphit;
  height: 378px;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 378px;
    color: $white;
    h1 {
      font-weight: 600;
      span {
        color: $brown;
      }
    }
    p {
      margin: 20px 0;
    }
    a {
      background: $brown;
      color: $white;
      border-radius: 60px;
      padding: 15px 50px;
    }
  }
}
