@import "@/assets/css/varibles.scss";

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  &__spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px dotted $brown;
    padding: 50px;
    animation: loading 1.5s infinite ease;
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
