@import "@/assets/css/varibles.scss";

.form {
  position: relative;

  input {
    display: block;
    outline: none;
    width: 220px;
    line-height: 3em;
    border-radius: 1.5em;
    border: 1px solid;
    padding: 0 7em 0 1.5em;
  }

  button {
    background: $brown;
    cursor: pointer;
    color: $white;
    padding: 5px 10px;
    position: absolute;
    width: fit-content;
    top: 0.4em;
    left: 9.5em;
    right: 0.4em;
    height: 2.2em;
    border-radius: 1.1em;
    border: none;
    font-size: 14px;
  }
}
